@model List<string>

@{
    ViewData["Title"] = "Home Page";
}
<div>Danh sách quyền</div>
@{
    foreach (var x in Model)
    {
        <div>
            @Html.DisplayFor(item => x)
        </div>
    }
    if(Model.Contains("Team_Leader"))
    {
        <input type="button" value="Đây là cái nút"/>
    }
}
